<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->
    <title>All Records</title>
  </head>
  <body class=" text-center">
  {% with messages = get_flashed_messages() %}  
    {% if messages %}  
          {% for message in messages %}  
               <p>{{ message }}</p>  
          {% endfor %}  
    {% endif %}  
 {% endwith %}
 <nav class="navbar navbar-expand-sm navbar-dark bg-dark">

  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/create_user">Create Record</a></li>
   </ul>
   <!-- <ul class="navbar-nav ml-auto">
    <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
    <li class="nav-item"><a class="nav-link" href="/update_pwd">Change Password</a></li> -->
   <!-- </ul> -->
</nav>
<div>
  {% block content %}{% endblock %}
</div>
  </body>
  </html>